body {
    /*background-color:#8ACFE5;*/
    margin: 0;
    padding: 0; 
    max-width: 1280px;
    min-width: 480px;
    font-family: roboto;
}

img {
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.header {
    background-color: #011827;
    /*height: 144px;*/
    width: auto;
    margin: 0;
    padding:0;

    /*background-size:cover;*/
    /*padding: 24px;*/
}

/*@media screen and (min-width: 800px) {
    .header {
      height: 216px;
    }*/

.header-banner {
    display: flex;
}

.header-logo {
    height: 90px;
    width: 136px;
    margin-top: 26px;
    margin-left: 27px;
    font-weight: 700;
  }

.site-heading {
    color: #FFFFFF;
    font-family:roboto;
    font-size: 24px;
    height:84px;
    width: 78px;
    margin-left: 13px;
    margin-top: 27px;  
  }

  @media screen and (min-width: 800px) {
    .site-heading {
      font-size: 40px;
      margin-left: 24px;
      margin-top: 61px;
      
      width: 20ch;
    }
  } 

  .open-menu {
    max-width: 51px;
    position: absolute;
    right: 20px;
    top: 28px;
    margin-left: 163px;
    opacity: 100%;
    border: none;
    border-radius: 3px;
    padding: 0;
    background-color: #011827;
    display: block;
    
  }

  .open-menu:hover {
    cursor: pointer;
  }


  @media screen and (min-width: 800px) {
    .open-menu {
      display: none;
    }
  }

  /*.line-figure {
    max-width: 51px;
    position: absolute;
    right: -10px;
    top: 10px;
    margin-left: 163px;
  }*/

  /*.line-figure:hover {
    color: #8ACFE5;
    text-decoration: underline;
  }

  @media screen and (min-width: 800px) {
    .line-figure {
      display: none;
    }
  }*/

  .menu-mobile {
    background-color: #E3170A;
    display: none;

  }

  .menu-mobile-show {
    display: block;
  }
  





  .menu-list {
    display: none;
    justify-content: space-evenly;
    background-color: #011827;
    list-style: none;
    padding: 0;
  }

  @media screen and (min-width: 800px) {
    .menu-list {
      
      margin: 0;
      display: flex;
      
      
      /*display: flex;
      margin-top: -29px;
      height: 72px;
      background-color: #011827;
      justify-content: center;
      padding: 0px;
      margin-left: -100px;*/

      /*margin-bottom: 235px;*/
      /*align-content:center;*/
      /*margin-top: -27px;*/
    }
  }

  .menu-item {
   
    
    font-family: roboto;
    font-weight: 700;
    font-size: 24px;
    /*margin-left:50px;*/
    margin-bottom:  30px;

    /*text-decoration:none;*/
    /*font-style: #FFFFFF;*/
  }

  .menu-link {
    text-decoration:none;
    color: #FFFFFF;
  }

  .menu-link:hover {
    color: #8ACFE5;
    text-decoration: underline;
    transition: color 0.2s;
  }

  /* ------------------------------------------------- Slut på header -------------------------------------------*/

  .hacker {
    margin-top: 0px;
    margin-left: 0px; 
    /*width: 40vh;
    height: 20vh;*/
    object-fit: cover;
  }

  /* ------------------------------------------------- Challenge-quote -------------------------------------------*/

  .challenge-quote {
    justify-items: center;
    text-align: center;

    /*margin-bottom: 60px;
    padding: 20px;*/
  }

  .challenge-button-on-site-top {
    display: block;
    
    /*font-family: roboto;*/
    font-size: 24px;
    font-weight: 700;
    color: #011827;
    text-decoration: none;
    background-color: #8ACFE5;
    border-radius: 4px;
    width:15ch;
    padding: 19px 53px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 800px) {
    .challenge-button-on-site-top {
      bottom: 35px;
      left: 50%;
      margin: 0;
      position: relative;
    }
  }

  .challenge-button-online-top {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: #36769D;
  }

  @media screen and (min-width: 800px) {
    .challenge-button-online-top {
      font-size: 24px;
      border-radius: 4px;
      padding: 19px 57px;
     
      padding-bottom: 19px;
      padding-top: 19px;
      text-decoration: none;
      background-color: #E3170A;
      color: #FFFFFF;
      position: relative;
      bottom: 83px;
      left: -170px; 
    }
  }

  .pop-chall {
    font-size: 36px;
    font-weight: 400;
    text-align:center;
    margin-bottom: 0;
  }

  /* Listan */
  .reviews {
    display: flex;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    /*overflow: hidden;*/
    justify-content: center;
    list-style: none;
  }

  /* Listelement */
  .customer-review {
    padding: 20px;
  }

  .customer-review-2 {
    display: none;
  }

  @media  screen and (min-width: 800px)  {
    .customer-review-2 {
      display: flex;
      padding: 20px;
    }
  }


  .customer-review-card {
    display: flex;
    text-align: left;
  }

  .customer-review-card-quote {
    margin: 0;
    max-width: 75ch;
    padding-right: 10px;
  }

  /* Här ska jag fortsätta */

  .customer-review-card-cite {
    font-family: roboto;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    max-width: 75ch;
    padding-right: 10px;
  }

  .customer-review-card-picture {
    padding-right: 10px;
    width: 30vh;
    margin-left: 2vh;
  }

 

  .customer-review-card-cite {
    font-size: 24px;

  }

  .customer-review-card-name {
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
  }

  @media screen and (min-width: 800px) {
    .customer-review-card-name {
      margin-top: 10px;
      max-width: 30ch;
    }
  }

  /* ----------------------------------------------- Popular challenges right now ----------------------------------*/

  
  .rooms {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media screen and (min-width: 800px) {
    .rooms {
      margin-bottom: 100px;
    }
  }

  .rooms::-webkit-scrollbar {
    display: none;
  }

  .popular-challenges {
    display: flex;
    margin-left: 53px;
  }

  .hacker-card {
    width: 363px;
    border-radius: 8px 8px 0px 0px;
  }

  .card {
    margin-right: 42px;
    height: 446px;
    width: 363px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  /* Title of room */
  .room-heading {
    margin-left: 17px;
    font-family: roboto;
    font-weight: 400;
    font-size: 28px;
    margin-top: 4px;
    margin-bottom: 0px;
  }

  /* Listan med stjärnor och antal deltagare */
  .review-stars-participants {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 12px;
   
  }

  .review-star {
    margin-left: 8px;
  }

  .number-of-participants {
    margin-left: 127px;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
  }

  .room-description {
    font-family: roboto;
    font-size: 18px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .book-this-room-button {
  border-radius: 4px;
  font-family: roboto;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
  width:180px;
  height: 44px;
  text-decoration: none;
  padding: 12px 34px;
  background-color: #E3170A;
  
  position: relative;
  left: 173px;
  bottom: -20px;
  }

  /*------------------------------------------------ Knappar, bottom --------------------------------------*/

  .buttons-bottom {
    /*justify-items: center;*/
    text-align: center;
    justify-content: center;
  }

  .challenge-button-on-site-bottom {
    display: block;
    /*font-family: roboto;*/
    font-size: 24px;
    font-weight: 700;
    color: #011827;
    text-decoration: none;
    background-color: #8ACFE5;
    border-radius: 4px;
    width:15ch;
    padding: 19px 53px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 800px) {
    .challenge-button-on-site-bottom {
      bottom: 35px;
      left: 50%;
      margin: 0;
      position: relative;
    }
  }

  .challenge-button-online-bottom {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: #36769D;
  }

  @media screen and (min-width: 800px) {
    .challenge-button-online-bottom {
      font-size: 24px;
      border-radius: 4px;
      padding: 19px 57px;
      padding-bottom: 19px;
      padding-top: 19px;
      text-decoration: none;
      background-color: #E3170A;
      color: #FFFFFF;
      position: relative;
      bottom: 83px;
      left: -170px;
    }
  }
  
/* ------------------------------------------------ Slut, knappar ----------------------------------------- */


  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#011827;
    color: white;
    padding: 3rem 1rem;
    margin-top: 3vh;
    height: 15rem;
    
  }

  .story-text {
    max-width: 26rem;
    text-align:center;
    margin-bottom: 2rem;
    }

    .btn-story {
      border: 2px solid;
      border-color:#8ACFE5;
      color:#8ACFE5;
      background-color: transparent;
      border-radius: 4px;
      padding: 10px 25px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      font-weight: 700;
    }

    .play {
      /*display: flex;*/
    }

    .people {
      /*width: 100vh;*/
    }

    .play-friends {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .description {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .book-on-site {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 1rem;
      color:white;
      background-color: #E3170A;
      border-radius: 4px;
      padding: 18px 45px;
      border: none;
      font-size: 18px;
    }

    @media screen and (min-width: 800px) {
      .play {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        /*height: 460px;*/
      }

      .play {
        height: 460px;
      }

      .people {
        grid-row: span 3;
      }

      .play-friends {
        margin-left: 5rem;
      }

      .description {
        margin-left: 5rem;
      }

      .book-on-site {
        /*display: inline-block;*/
        font-size: 18px;
        width: 25vh;
        padding: 10px px;
        margin-left: 5rem;
        height: 3rem;


        
      
        
    
      }

    }
  